<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Using Grid</title>
    <link rel="stylesheet" href="./style/sytle.css" />
  </head>
  <body>
    <div class="Grid_container">
      <h1>Lorem ipsum <span> dolor sit amet.</span></h1>
      <img src="./img1.jpg" alt="htttp:\\via.placeholder.com\980x200" />
      <div class="column">
          <div class="col col1">

              <h2>Lorem,<span> ipsum.</span>  </h2>
                  <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquam
                  aliquid suscipit obcaecati repellendus libero quam eaque veritatis
                  magni? Incidunt similique aspernatur quasi repellat eligendi fuga
                  officiis vel aperiam impedit dicta sapiente alias tempora, omnis ab
                  explicabo culpa. Impedit laudantium autem expedita dolorum, alias

                </p>
            </div>
            <div class="col col2">

              <h2>Lorem,<span> ipsum.</span>  </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quae
                    excepturi consequuntur harum repellendus tempore reprehenderit nostrum,
                    sequi quis, exercitationem laboriosam ab fugit beatae in minima dicta
                    eum deleniti ea soluta quos! Dolorem sapiente sequi cupiditate enim,
                    incidunt soluta fugiat, rem a magnam facilis deserunt expedita, amet
                    impedit adipisci porro.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga in odio
            molestias quae. Atque perspiciatis saepe corporis, dolorum corrupti non
            aut ipsa delectus fugiat voluptatum.
        </p>
    </div>
        <div class="col col-bg col1">

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore error
                quasi consequatur voluptas consequuntur id aliquam voluptatibus alias
                natus illum necessitatibus, minima itaque modi accusamus dicta cum magni
                dolorum velit tempora quae, amet animi a? Dolorum, asperiores porro
            </p>
        </div>
    </div>
    <div class="column">
      <div class= 'col col3'>
        <h2>Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
          sunt molestias dolorem obcaecati ullam, asperiores consequuntur
          architecto accusantium adipisci labore amet exercitationem a
          voluptates impedit dolor nobis neque perferendis. Neque amet nemo eius
          nisi mollitia distinctio, quo corporis molestiae ratione ut deleniti
          expedita fugiat odio dicta maiores perferendis repellendus magnam,
          sint voluptates quas, inventore eligendi autem! Vitae deserunt
          obcaecati voluptatibus provident iure possimus, eveniet, excepturi
          nisi soluta velit nam quam, laborum qui. Maxime cumque hic dicta dolor
          id! Aut, aliquid.
        </p>
        </div>
        <div class="col col-bg col1">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod provident
            dolorem repellat possimus consequuntur, nihil vero. Repellendus debitis
            eius soluta velit libero impedit, est recusandae?
        </p>
    </div>
    </div>
  </body>
</html>
